lib
dist
/cache
/temp
/data

.env.local

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

package-lock.json
pnpm-lock.yaml
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

.eslintcache
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
plugins/*/tsconfig.tsbuildinfo
plugins/*/node_modules/*
!plugins/koishi-plugin-vscode-blockly/lib/
plugins/koishi-plugin-vscode-blockly/lib/*
!plugins/koishi-plugin-vscode-blockly/lib/index.js
!plugins/koishi-plugin-vscode-blockly/lib/index.d.ts
plugins/dialogue-webui/keyword-dialogue/*
plugins/universal-translation/lib/*
plugins/steam-friend-status-fork/temp.html
plugins/qq-markdown-button/lib/*
plugins/*/tsconfig.tsbuildinfo
plugins/lmarena-api/tsconfig.tsbuildinfo
